* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body,main,
html {
    height: 100%;
    width: 100%;
}

:root {

    // colors
    --bg-primary-color: rgb(14, 14, 14);
    --text-primary-color: rgb(237, 237, 237);
    

    // Spacing values
    --space-s: 1rem;
    --space-m: 2rem;
    --space-l: 3rem;
    --space-xl: 4rem;
}

html {
    color: var(--text-primary-color);
    background-color: var(--bg-primary-color);
}


section{
    height: 100%;
    width: 100%;
    padding: var(--space-m);
}


section {

    background-color: rgb(177, 189, 154);
    .game {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .infos {
            display: flex;
            justify-content: space-between;
        }

        .board {
            border: 1px solid var(--text-primary-color);
            display: flex;
            
            flex-grow: 1;

                display: grid;   
                grid-template-columns: repeat( auto-fill, minmax(30px, 1fr) );
                grid-template-rows: repeat( auto-fill, minmax(30px, 1fr) );
            .block{
                flex-wrap: nowrap;
                border: 1px solid var(--text-primary-color);
                border: none;
                
            }
        }
    }

}

.red{
    background-color: red;
}

.food{
    background-color: green;
}

button{
    color:rgba(0, 0, 0, 0.433);
    background-color: white;
    border: none;
    border-radius: 3px;
    padding: 0.7rem 1rem ;
    transition: all 0.1s ease-out;
}

.modal{
    height: 100vh;
    width:100vw;
    background-color: rgba(173, 173, 173, 0.479);
    backdrop-filter: blur(4px);
    position: fixed;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}


button:hover{
    transform: scale(1.05);
}

.btn-start:hover{
    background-color: rgb(158, 255, 187);
}

.modal .start-game,
.modal .end-game{
height: 100%;
display: flex;
flex-direction: column;
justify-content:center;
align-items: center;
gap: 1rem;
}

.modal .end-game{
    display:none;
}